* {
    box-sizing: border-box;
    margin: 0;
    
}
body {
    background-color: rgb(22, 22, 22);
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400 , 600 , 700;
    font-style: normal;

}
.window {
    background-color: rgb(44, 44, 44);
    width: 300px;
    height: 490px;
    border: 10px;
    border-radius: 5%;
    text-align: center;
    justify-content: center;
    margin: 70px auto auto auto;


}


.name {
    font-size:25px;
    color: white;
    transform: translate(1px, 10px);
    margin: 0;

}
.img {
    border-radius: 50%;
    width: 80px;
    margin-top: 10px;
}
.country {
    color: #5ecf5e;
    margin: 15px;
}
.job {
    color: white
}
.container-bot{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.git {
    background-color: rgb(61, 61, 61);
    position: relative;
    color: white;
    padding: 10px 22px;
    border-radius: 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-bottom:10px ;

}

.front {
    background-color: rgb(61, 61, 61);
    position: relative;
    color: white;
    padding: 10px 22px;
    border-radius: 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-bottom:10px ;
}

.linked{
    background-color: rgb(61, 61, 61);
    position: relative;
    color: white;
    padding: 10px 22px;
    border-radius: 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-bottom:10px ;
}
.twit{
    background-color: rgb(61, 61, 61);
    position: relative;
    color: white;
    padding: 10px 22px;
    border-radius: 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-bottom:10px ;
}

.insta{
    background-color: rgb(61, 61, 61);
    position: relative;
    color: white;
    padding: 10px 22px;
    border-radius: 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-bottom:10px ;
}
.git:hover , .insta:hover , .front:hover , .linked:hover , .twit:hover{
    background-color: green;
}

@media (min-width: 768px){
    .window{
        width: 400;
    }
}










































